@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/Jude.png);
    }
    .header-text {
        margin-top: 100%;
        font: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fa-solid, nav .fa-regular {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: -200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fa-regular, nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}